session.*
/recentf~
/recentf
/network-security.data
/ido.last~
/ido.last
/#recentf#
/#init.el#
/#zel-history#
/TAGS
/bookmarks
/mono-theme.el
/recentf.~1~
/recentf.~2~
/site-specific.el~
/smex-items
/tkf-mono.el
/zel-history
/zel-history~
.backup
